<header>
  <div class="wrapper">
    <div class="header__info">
      <div class="header__info__logo">
        <img src="https://placehold.co/226x65">
      </div>
      <div class="header__info__contact">
        <div class="header__info__contact__up">
          <div class="header__info__contact__up__number">
            <img height="19.2" src="/assets/icon/telephone.svg" width="19.2">
            <p style="margin-left: 10px">+38 095 782 23 01</p>
          </div>
          <div class="header__info__contact__up__language">
            <img alt="" src="../../../../../assets/icon/globe2.svg">
            <select>
              <option>
                Uk
              </option>
              <option>
                Eu
              </option>
            </select>
          </div>

        </div>
        <div class="header__info__contact__down">
          <i class="bi bi-instagram header__info__contact__down__social-media instagram"></i>
          <i class="bi bi-telegram header__info__contact__down__social-media telegram"></i>
          <i class="bi bi-facebook header__info__contact__down__social-media facebook"></i>
          <i class="bi bi-twitter header__info__contact__down__social-media twitter"></i>
          <i class="bi bi-youtube header__info__contact__down__social-media youtube"></i>
          <i class="bi bi-whatsapp header__info__contact__down__social-media whatsapp"></i>
          <i class="bi bi-linkedin header__info__contact__down__social-media linkedin"></i>
        </div>
      </div>
    </div>
  </div>
</header>

