@import "../../../../var.scss";

.wrapper {
  width: 100%;
}

.header {
  &__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1140px;
    height: 100.19px;
    margin: 0 auto;

    &__logo {
      padding: 15px;
    }

    &__contact {
      padding-top: 0.4rem;
      width: 285px;
      flex-direction: column;
      justify-self: end;

      &__up {
        display: flex;
        justify-content: space-between;
        padding: 20px 0 10px 10px;

        &__number {
          display: flex;
          justify-content: space-around;
          font-size: 1.4em;
          font-weight: 250;

        }

        &__language {
          &__select {
            appearance: none; /* Убираем стандартный стиль */
            -webkit-appearance: none;
            -moz-appearance: none;
            background-repeat: no-repeat;
            width: 40px;
          }

          &__option {
            margin: 10px;
            background-repeat: no-repeat;
            background-position: left center;
          }
        }
      }

      &__down {
        display: flex;
        font-size: 1.4em;
        justify-content: space-around;

        &__social-media {

          &:hover {
            color: #fd7e14;
          }
        }
      }
    }
  }
}




.instagram {
  color: #E65350;
}

.telegram {
  color: #0088cc
}

.facebook {
  color: #3b5998;
}

.twitter {
  color: #00acee;
}

.youtube {
  color: #c4302b;
}

.whatsapp {
  color: #06A411;
}

.linkedin {
  color: #0e76a8;
}



