<header>
  <div class="wrapper">
    <div class="header__info">
      <div class="header__info__logo">
        <img src="https://placehold.co/226x65">
      </div>
      <div class="header__info__contact">
        <div class="header__info__contact__up">
          <div class="header__info__contact__up__number">
            <img height="19.2" width="19.2" src="../../../../../assets/icon/telephone.svg">
            <p style="margin-left: 10px" >+38 095 782 23 01</p>
          </div>
          <div class="header__info__contact__up__language">
            <img src="../../../../../assets/icon/globe2.svg" alt="">
            <select>
              <option>
                Uk
              </option>
              <option>
                Eu
              </option>
            </select>
          </div>

        </div>
        <div class="header__info__contact__down">
         <!-- <img class="header__info__contact__down__social-media" src="../../../../../assets/icon/instagram.svg" alt="">-->
          <i class="bi bi-instagram fa-5x header__info__contact__down__social-media"></i>
          <img class="header__info__contact__down__social-media" src="../../../../../assets/icon/telegram.svg" alt="">
          <img class="header__info__contact__down__social-media" src="../../../../../assets/icon/facebook.svg" alt="">
          <img class="header__info__contact__down__social-media" src="../../../../../assets/icon/twitter.svg" alt="">
          <img class="header__info__contact__down__social-media" src="../../../../../assets/icon/youtube.svg" alt="">
          <img class="header__info__contact__down__social-media" src="../../../../../assets/icon/whatsapp.svg" alt="">
          <img class="header__info__contact__down__social-media" src="../../../../../assets/icon/linkedin.svg" alt="">
        </div>
      </div>
    </div>
  </div>
</header>
<div class="nav-wrapper">
  <nav class="nav">
    <button class="nav__button">ПРОДУКЦІЯ</button>
    <button class="nav__button">КОМПЕТЕНЦІЇ</button>
    <button class="nav__button">БІОПАЛИВО</button>
    <button class="nav__button">ВТІЛЕНІ ПРОЕКТИ</button>
    <button class="nav__button">НОВИНИ</button>
    <button class="nav__button">КОНТАКТИ</button>
  </nav>
</div>
