<div id="experienceId" class="title">
  <div class="title__text">
    ДОСВІД
  </div>
</div>
<div class="experience">
  <div class="experience__wrapper">
    <div class="experience__image">
      <img ngSrc="assets/photo/experience/exp_10years_1.png" alt=""
           class="experience__image__item"
           height="290" width="500">
      <img ngSrc="assets/photo/experience/exp_10years_2.png" alt=""
           class="experience__image__item"
           height="246" width="403">
    </div>
    <div class="experience__list">
      <div class="experience__list__item">
        <img ngSrc="assets/photo/experience/exp_kotl_1.png" alt=""
             class="experience__list__item__photo"
             height="2000" width="2000">
        <button class="experience__list__item__button">РЕФЕРЕНС-ЛИСТ ВИРОБНИЧИХ КОТЕЛЕНЬ</button>
      </div>
      <div class="experience__list__item">
        <img ngSrc="assets/photo/experience/exp_kotl_2.png" alt=""
             class="experience__list__item__photo"
             height="2000" width="2000">
        <button class="experience__list__item__button">РЕФЕРЕНС-ЛИСТ СУШАРНИХ КОМПЛЕКСІВ</button>
      </div>
    </div>
  </div>
</div>
