@import "../../../../var.scss";

.nav {
  width: 100%;
  background-color: $base-color;
  height: 52.8px;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    margin: 0 auto;
    width: 1140px;

  }

  &__button {
    color: white;
    background-color: $base-color;
    height: 52.8px;
    font-size: 1.2rem;

    &:hover {
      color: $base-color;
      background-color: white;
    }
  }
}
