<div class="nav">
  <nav class="nav__wrapper">
    <button (click)="scrollTo('productId')" class="nav__button">ПРОДУКЦІЯ</button>
    <button (click)="scrollTo('competenciesId')" class="nav__button">КОМПЕТЕНЦІЇ</button>
    <button (click)="scrollTo('chartId')" class="nav__button">БІОПАЛИВО</button>
    <button (click)="scrollTo('experienceId')" class="nav__button">ВТІЛЕНІ ПРОЕКТИ</button>
    <button (click)="scrollTo('newsId')" class="nav__button">НОВИНИ</button>
    <button (click)="scrollTo('section6')" class="nav__button">КОНТАКТИ</button>
  </nav>
</div>
