<div class="sub-header">
  <div class="wrapper-sub">
    <div class="sub-header__info">
      <div class="sub-header__info__title">ЕНЕРГІЯ БІОПАЛИВА</div>
      <div class="sub-header__info__sub-title">ТЕХНОЛОГІЇ АЛЬТЕРНАТИВНОЇ ТЕПЛОЕНЕРГЕТИКИ</div>
      <div class="sub-header__info__list">
        <ul>
          <li>ЕНЕРГЕТИЧНА НЕЗАЛЕЖНІСТЬ</li>
          <li>ВІДПОВІДАЛЬНИЙ ПІДХІД ДО ВЛАСНИХ РЕСУРСІВ</li>
          <li>ЗБЕРЕЖЕННЯ РЕСУРСІВ ПЛАНЕТИ</li>
          <li>БАГАТОРАЗОВА ЕКОНОМІЯ</li>
        </ul>
      </div>
      <div class="sub-header__info__buttons">
        <button class="sub-header__info__buttons__get-offer-button">ОТРИМАТИ ПРОПОЗИЦІЮ</button>
        <button class="sub-header__info__buttons__calculate-offer-button">РОЗРАХУВАТИ ЕКОНОМІЮ</button>
      </div>
    </div>
  </div>
</div>
<div class="wrapper-sub">
  <div class="info">
    <div class="info__title">АЛЬТЕРНАТИВНА <strong>ТЕПЛОЕНЕРГЕТИКА</strong> ДЛЯ ВИРОБНИЦТВА</div>
    <p class="info__text">Технології TEFF дають можливість в рази економити витрати на енергетичну складову в собівартості продукції у порівнянні з природнім газом, коксохімічним та пічним паливом, вугіллям, продукцією нафтової галузі.
    </p>
  </div>
</div>

