<div class="product">
  <div class="product__title">
    <div class="product__title__wrapper">
      <p>ПРОДУКЦІЯ</p>
    </div>
  </div>
  <div class="wrapper">
    <div class="product__list">

      <div class="product__list__item">
        <img class="product__list__item__photo"
             ngSrc="assets/photo/prod_tem1.png" alt="" height="1080" width="1080">
        <button class="product__list__item__button">ПАЛЬНИКИ</button>
      </div>

      <div class="product__list__item">
        <img class="product__list__item__photo"
             ngSrc="assets/photo/prod_tem2.png" alt="" height="1080" width="1080">
        <button class="product__list__item__button">КАМЕРИ ЗМІШУВАННЯ</button>
      </div>

      <div class="product__list__item">
        <img class="product__list__item__photo"
             ngSrc="assets/photo/prod_tem3.png" alt="" height="1080" width="1080">
        <button class="product__list__item__button">ТЕПЛООБМІННИКИ</button>
      </div>

      <div class="product__list__item">
        <img class="product__list__item__photo"
             ngSrc="assets/photo/prod_tem4.png" alt="" height="1080" width="1080">
        <button class="product__list__item__button">КОЛОСНИКОВА РЕШІТКА</button>
      </div>

    </div>
  </div>
</div>
