<div class="patents">
  <div class="patents__title">
    <div class="patents__title__container">
      НАШІ ПАТЕНТИ
    </div>
  </div>
  <div class="patents__wrapper">
    <div class="patents__list">
      <swiper-container
        class="mySwiper"
        zoom="true"
        grid-rows="1"
        slides-per-view="3">
        <swiper-slide>
          <div class="swiper-zoom-container">
            <img ngSrc="assets/photo/patent.jpg" alt=""
                 class="patents__list__item" height="3507" width="2481">
          </div>
        </swiper-slide>
        <swiper-slide>
          <div class="swiper-zoom-container">
            <img ngSrc="assets/photo/patent.jpg" alt=""
                 class="patents__list__item" height="3507" width="2481">
          </div>
        </swiper-slide>
        <swiper-slide>
          <div class="swiper-zoom-container">
            <img ngSrc="assets/photo/patent.jpg" alt=""
                 class="patents__list__item" height="3507" width="2481">
          </div>
        </swiper-slide>
      </swiper-container>
    </div>
  </div>
</div>



