<div class="chart">
  <div class="chart__wrapper">
    <div class="chart__title"><span>БІОПАЛИВО</span> БЕЗ ОБМЕЖЕНЬ</div>
    <div class="chart__subtitle">ПРАЦЮЙТЕ НА БУДЬ-ЯКОМУ ПАЛИВІ <span>ЗІ 100% ПРОДУКТИВНІСТЮ</span></div>
    <div class="chart__list">
      <div class="chart__list__item">
        <img src="assets/photo/chart/1.png" alt="" class="chart__list__item__photo">
        <p class="chart__list__item__name">АГРОВІДХОДИ</p>
      </div>
      <div class="chart__list__item">
        <img src="assets/photo/chart/2.png" alt="" class="chart__list__item__photo">
        <p class="chart__list__item__name">ПЕЛЕТИ З БІОМАСИ</p>
      </div>
      <div class="chart__list__item">
        <img src="assets/photo/chart/3.png" alt="" class="chart__list__item__photo">
        <p class="chart__list__item__name">ЛУШПИННЯ</p>
      </div>
      <div class="chart__list__item">
        <img src="assets/photo/chart/4.png" alt="" class="chart__list__item__photo">
        <p class="chart__list__item__name">ТРІСКИ ДЕРЕВʼЯНІ</p>
      </div>
    </div>
    <div class="chart__canvas">
      <canvas #bioChart></canvas>
    </div>
  </div>
</div>









