<section id="constructionId" class="construction">
  <div class="construction__wrapper">

    <div class="construction__info">
      <div class="construction__info__title">
        <img ngSrc="../../../../../assets/photo/construction/helmet.png" alt=""
             class="construction__info__photo"
             height="512" width="512">
        <p>ВЧАСНО ТА<br>
          КОМПЕТЕНТНО</p>
      </div>
      <div class="construction__info__subtitle">
        МОНТАЖ <span>або</span> ПОВНЕ БУДІВНИЦТВО ОБ’ЄКТУ <span>під ключ</span>
      </div>
      <div class="construction__info__text">
        Власні кваліфіковані монтажні бригади виконують повний цикл монтажних робіт - від встановлення обладнання, до
        повного будівництва об’єктів під ключ.
      </div>
    </div>

    <img ngSrc="../../../../../assets/photo/construction/photo2.png" alt=""
         class="construction__photo"
         height="788" width="940">

    <img ngSrc="../../../../../assets/photo/construction/photo1.png" alt=""
         class="construction__photo"
         height="788" width="940">

    <div class="construction__sub-info">
      <div class="construction__sub-info__title">
        ЗАПУСК В РОБОТУ
      </div>
      <div class="construction__sub-info__subtitle">
        Наші спеціалісти виконують запуск та наладку обладнання, розробку технологічних інструкцій та навчання
        персоналу. <br>
        <br>
        Передаємо замовнику працюючу технологію з дотриманням всіх проектних показників.
      </div>
      <div class="construction__sub-info__text">
        Консультаційна та<br>
        технічна підтримка<br>
        <span >24/7</span>
      </div>
    </div>
  </div>
</section>
