<div class="trust">
  <div class="trust__title">
    <div class="trust__title__container">
      <p>НАМ ДОВІРЯЮТЬ</p>
    </div>
  </div>
  <div class="trust__wrapper">
    <swiper-container
      class="trust__swiper"
      grid-rows="2"
      navigation="true"
      slides-per-view="4"
      speed="600"
      pagination="true"
      style="--swiper-theme-color:#FF7A00;">
      <swiper-slide class="trust__swiper__slide">
        <img  ngSrc="assets/photo/trust/astarta_1.original.png" alt=""
              class="trust__photo"
              height="448" width="720">
      </swiper-slide>
      <swiper-slide class="trust__swiper__slide">
        <img  ngSrc="assets/photo/trust/astarta_1.original.png" alt=""
              class="trust__photo"
              height="448" width="720">
      </swiper-slide>
      <swiper-slide class="trust__swiper__slide">
        <img  ngSrc="assets/photo/trust/astarta_1.original.png" alt=""
              class="trust__photo"
              height="448" width="720">
      </swiper-slide>
      <swiper-slide class="trust__swiper__slide">
        <img  ngSrc="assets/photo/trust/astarta_1.original.png" alt=""
              class="trust__photo"
              height="448" width="720">
      </swiper-slide>
      <swiper-slide class="trust__swiper__slide">
        <img  ngSrc="assets/photo/trust/astarta_1.original.png" alt=""
              class="trust__photo"
              height="448" width="720">
      </swiper-slide>
      <swiper-slide class="trust__swiper__slide">
        <img  ngSrc="assets/photo/trust/astarta_1.original.png" alt=""
              class="trust__photo"
              height="448" width="720">
      </swiper-slide>
      <swiper-slide class="trust__swiper__slide">
        <img  ngSrc="assets/photo/trust/astarta_1.original.png" alt=""
              class="trust__photo"
              height="448" width="720">
      </swiper-slide>
      <swiper-slide class="trust__swiper__slide">
        <img  ngSrc="assets/photo/trust/astarta_1.original.png" alt=""
              class="trust__photo"
              height="448" width="720">
      </swiper-slide>
      <swiper-slide class="trust__swiper__slide">
        <img  ngSrc="assets/photo/trust/astarta_1.original.png" alt=""
              class="trust__photo"
              height="448" width="720">
      </swiper-slide>
      <swiper-slide class="trust__swiper__slide">
        <img  ngSrc="assets/photo/trust/astarta_1.original.png" alt=""
              class="trust__photo"
              height="448" width="720">
      </swiper-slide>
    </swiper-container>
  </div>
</div>
