<section id="newsId" class="news">
  <div class="news__wrapper">
    <div class="news__title">НОВИНИ TEFF</div>
    <div class="news__list">
      <div class="news__list__container">
        <img alt="" class="news__list__photo"
             height="400"
             ngSrc="assets/photo/news/stattja_20_02_24.2e16d0ba.fill-400x400.png" width="400">
        <div class="news__list__data">19 лютого 2024 р.</div>
        <div class="news__list__title">МАЙБУТНЄ ВЖЕ СЬОГОДНІ: ЯК КОМПАНІЯ «ТЕФФ» РЕВОЛЮЦІОНІЗУЄ ТЕПЛОЕНЕРГЕТИКУ ЧЕРЕЗ
          ІННОВАЦІЙНІ ТЕХНОЛОГІЇ
        </div>
        <div class="news__list__subtitle">Альтернативна теплова енергетика для виробництва – це використання таких
          джерел
          енергії, що відновлюються, чим відрізняються від традиційних, викопних вуглеводнів, таких як вугілля, нафта та
          природний газ.
        </div>
        <button class="news__list__button">ДЕТАЛЬІШЕ</button>
      </div>
      <div class="news__list__container">
        <img alt="" class="news__list__photo"
             height="400"
             ngSrc="assets/photo/news/stattja_20_02_24.2e16d0ba.fill-400x400.png" width="400">
        <div class="news__list__data">19 лютого 2024 р.</div>
        <div class="news__list__title">МАЙБУТНЄ ВЖЕ СЬОГОДНІ: ЯК КОМПАНІЯ «ТЕФФ» РЕВОЛЮЦІОНІЗУЄ ТЕПЛОЕНЕРГЕТИКУ ЧЕРЕЗ
          ІННОВАЦІЙНІ ТЕХНОЛОГІЇ
        </div>
        <div class="news__list__subtitle">Альтернативна теплова енергетика для виробництва – це використання таких
          джерел
          енергії, що відновлюються, чим відрізняються від традиційних, викопних вуглеводнів, таких як вугілля, нафта та
          природний газ.
        </div>
        <button class="news__list__button">ДЕТАЛЬІШЕ</button>
      </div>
      <div class="news__list__container">
        <img alt="" class="news__list__photo"
             height="400"
             ngSrc="assets/photo/news/stattja_20_02_24.2e16d0ba.fill-400x400.png" width="400">
        <div class="news__list__data">19 лютого 2024 р.</div>
        <div class="news__list__title">МАЙБУТНЄ ВЖЕ СЬОГОДНІ: ЯК КОМПАНІЯ «ТЕФФ» РЕВОЛЮЦІОНІЗУЄ ТЕПЛОЕНЕРГЕТИКУ ЧЕРЕЗ
          ІННОВАЦІЙНІ ТЕХНОЛОГІЇ
        </div>
        <div class="news__list__subtitle">Альтернативна теплова енергетика для виробництва – це використання таких
          джерел
          енергії, що відновлюються, чим відрізняються від традиційних, викопних вуглеводнів, таких як вугілля, нафта та
          природний газ.
        </div>
        <button class="news__list__button">ДЕТАЛЬІШЕ</button>
      </div>
    </div>
    <div class="news__all">
      <a href="">ВСІ НОВИНИ </a>
      <i class="bi bi-arrow-right"></i>
    </div>
  </div>
</section>

