<div class="physics">
  <div class="physics__wrapper">
    <div class="physics__info">
      <div class="physics__info__title">ПРОЕКТУЄМО,<br>
        СПИРАЮЧИСЬ НА<br>
        <span>ЗАКОНИ ФІЗИКИ</span>
      </div>
      <div class="physics__info__text">Розробки TEFF базуються на фізико- <br>
        хімічних основах спалювання твердих<br>
        вуглеводів з використанням власних<br>
        інновацій та багаторічного досвіду<br>
        експлуатації пальників.
      </div>
    </div>
    <div class="physics__photo">
      <div class="physics__photo__temperature">
        <div class="physics__photo__temperature__title">ТЕМПЕРАТУРНІ ПОКАЗНИКИ</div>
        <div class="physics__photo__temperature__indexes">
          <div class="physics__photo__temperature__indexes__temp">250 °C</div>
          <div class="physics__photo__temperature__indexes__text">Температура початку генераціі<br>
            газу (підпалювання)
          </div>
        </div>
        <div class="physics__photo__temperature__indexes">
          <div class="physics__photo__temperature__indexes__temp">1000 °C</div>
          <div class="physics__photo__temperature__indexes__text">Температура спалювання хімічних<br>
            сполук
          </div>
        </div>
        <div class="physics__photo__temperature__indexes">
          <div class="physics__photo__temperature__indexes__temp">1200 °C</div>
          <div class="physics__photo__temperature__indexes__text">Температура початку плавління<br>
            золи
          </div>
        </div>
      </div>
    </div>

    <div class="physics__photo__ecology">
      <div class="physics__photo__ecology__title">ЕКОЛОГІЧНІ ПОКАЗНИКИ</div>
      <div class="physics__photo__ecology__indexes">
        <ul class="physics__photo__ecology__indexes__list">

          <li class="physics__photo__ecology__indexes__list__item">
            <span>СО</span> <span style="font-weight: 600;">250</span> <span style="font-size: 24px">мг/м3</span>
          </li>

          <li class="physics__photo__ecology__indexes__list__item">
            <span>NOx</span> <span>350</span> <span>мг/м3</span></li>

          <li class="physics__photo__ecology__indexes__list__item">
            <span>SО</span> <span>250</span> <span>мг/м3</span>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>
