<div class="competencies">
  <div class="container">
    <div class="competencies__title">
      МОЖЛИВОСТІ TEFF
    </div>
  </div>
  <div class="wrapper">
    <div class="competencies__info">
      <div class="competencies__info__title">ПОВНА РЕАЛІЗАЦІЯ ВЛАСНИХ ПРОЕКТІВ</div>
      <div class="competencies__info__sub-title">ВІД РОЗРОБКИ ДО ЕКСПЛУАТАЦІЇ</div>
      <div class="competencies__info__text">
        ПОВНИЙ ЦИКЛ РІШЕНЬ – <span>ВІДПОВІДАЛЬНІСТЬ</span> НА КОЖНОМУ ЕТАПІ
      </div>
    </div>
    <div class="competencies__list">

      <div class="competencies__list__item">
        <img ngSrc="assets/photo/competencies/competencies1.png" alt=""
             class="competencies__list__item__photo"
             height="512" width="512">
        <button class="competencies__list__item__button">РОЗРОБКИ ТА ІННОВАЦІЇ</button>
      </div>

      <div class="competencies__list__item">
        <img ngSrc="assets/photo/competencies/competencies2.png" alt=""
             class="competencies__list__item__photo"
             height="512" width="512">
        <button class="competencies__list__item__button">ПРОЕКТУВАННЯ ОБ’ЄКТІВ</button>
      </div>

      <div class="competencies__list__item">
        <img ngSrc="assets/photo/competencies/competencies3.png" alt=""
             class="competencies__list__item__photo"
             height="512" width="512">
        <button class="competencies__list__item__button">ВИРОБНИЦТВО</button>
      </div>

      <div class="competencies__list__item">
        <img ngSrc="assets/photo/competencies/competencies4.png" alt=""
             class="competencies__list__item__photo"
             height="512" width="512">
        <button class="competencies__list__item__button">МОНТАЖ</button>
      </div>

      <div class="competencies__list__item">
        <img ngSrc="assets/photo/competencies/competencies5.png" alt=""
             class="competencies__list__item__photo"
             height="512" width="512">
        <button class="competencies__list__item__button">ЗАПУСК В РОБОТУ</button>
      </div>

      <div class="competencies__list__item">
        <img ngSrc="assets/photo/competencies/competencies6.png" alt=""
             class="competencies__list__item__photo"
             height="512" width="512">
        <button class="competencies__list__item__button">СЕРВІСНА ПІДТРИМКА 24/7</button>
      </div>

    </div>
  </div>
</div>

<!----------------------------------------------------------------------------------------------------------->

<div class="developments">
  <div class="developments__wrapper">
    <div class="developments__info">
      <div class="developments__info__title"><span>ВЛАСНІ</span> РОЗРОБКИ ТА <br> ІННОВАЦІЇ</div>
      <div class="developments__info__text">
        Наукові розробки TEFF базуються на фізико-хімічних основах<br>
        спалювання твердих вуглеводів з використанням власних<br>
        інновацій та багаторічного досвіду експлуатації пальників.<br>
        <br>
        Постійно вдосконалюємо власні розробки та запроваджуємо<br>
        інноваційні технічні рішення, спираючись на:
      </div>
      <div class="developments__info__advantages">
        <ul class="developments__info__advantages__list">
          <li class="developments__info__advantages__list__item">10 річний досвід</li>
          <li class="developments__info__advantages__list__item">Індивідуальні потреби замовника</li>
          <li class="developments__info__advantages__list__item">Екологічність отримання тепла</li>
          <li class="developments__info__advantages__list__item">Збереження ресурсів Планети</li>
        </ul>
        <img ngSrc="assets/photo/ten_years.png" alt=""
             class="developments__info__icon"
             height="295" width="512">
      </div>
    </div>
    <img ngSrc="assets/photo/home-block-innovations.png" alt=""
         class="developments__photo"
         height="2128" width="2728">
  </div>
</div>

<!----------------------------------------------------------------------------------------------------------->

<div class="physics">
  <div class="physics__wrapper">
    <div class="physics__info">
      <div class="physics__info__title">ПРОЕКТУЄМО,<br>
        СПИРАЮЧИСЬ НА<br>
        <span>ЗАКОНИ ФІЗИКИ</span>
      </div>
      <div class="physics__info__text">Розробки TEFF базуються на фізико- <br>
        хімічних основах спалювання твердих<br>
        вуглеводів з використанням власних<br>
        інновацій та багаторічного досвіду<br>
        експлуатації пальників.
      </div>
    </div>
    <div class="physics__photo">
      <div class="physics__photo__temperature">
        <div class="physics__photo__temperature__title">ТЕМПЕРАТУРНІ ПОКАЗНИКИ</div>
        <div class="physics__photo__temperature__indexes">
          <div class="physics__photo__temperature__indexes__temp">250 °C</div>
          <div class="physics__photo__temperature__indexes__text">Температура початку генераціі<br>
            газу (підпалювання)
          </div>
        </div>
        <div class="physics__photo__temperature__indexes">
          <div class="physics__photo__temperature__indexes__temp">1000 °C</div>
          <div class="physics__photo__temperature__indexes__text">Температура спалювання хімічних<br>
            сполук
          </div>
        </div>
        <div class="physics__photo__temperature__indexes">
          <div class="physics__photo__temperature__indexes__temp">1200 °C</div>
          <div class="physics__photo__temperature__indexes__text">Температура початку плавління<br>
            золи
          </div>
        </div>
      </div>
    </div>

    <div class="physics__photo__ecology">
      <div class="physics__photo__ecology__title">ЕКОЛОГІЧНІ ПОКАЗНИКИ</div>
      <div class="physics__photo__ecology__indexes">
        <ul class="physics__photo__ecology__indexes__list">

          <li class="physics__photo__ecology__indexes__list__item">
            <span>СО</span> <span style="font-weight: 600;">250</span> <span style="font-size: 24px">мг/м3</span>
          </li>

          <li class="physics__photo__ecology__indexes__list__item">
            <span>NOx</span> <span>350</span> <span>мг/м3</span></li>

          <li class="physics__photo__ecology__indexes__list__item">
            <span>SО</span> <span>250</span> <span>мг/м3</span>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>
