<div class="design">
  <div class="design__wrapper">
    <div class="design__title">ПРОЕКТУЄМО</div>
    <div class="design__list">


      <div class="design__list__item">
        <div class="design__list__title">ОБЛАДНАННЯ:</div>
        <ul>
          <li class="design__list__item__li">КОТЛИ ПАРОВІ ТА ВОДОГРІЙНІ</li>
          <li class="design__list__item__li">ПОВІТРЯНІ ТЕПЛОГЕНЕРАТОРИ</li>
        </ul>
      </div>

      <div class="design__list__item">
        <div class="design__list__title">ОБ’ЄКТИ:</div>
        <ul>
          <li class="design__list__item__li">ВИРОБНИЧІ КОТЕЛЬНІ</li>
          <li class="design__list__item__li">ЛІНІЇ ВИРОБНИЦВА</li>
          <li class="design__list__item__li">СУШАРНІ КОМПЛЕКСИ</li>
        </ul>
      </div>

    </div>
    <div class="design__text">
      <p>НАДАЄМО ГОТОВУ ТЕХНОЛОГІЮ ВИРОБНИЦТВА</p>
    </div>
  </div>
</div>
