<section id="goalId" class="goal">
  <div class="goal__wrapper">
    <img ngSrc="../../../../../assets/photo/goals_photo.jpg" alt=""
         class="goal__photo"
         height="1953" width="1506">
    <div class="goal__info">
      <div class="goal__info__title">
        МЕТА - <span>ЕФЕКТИВНЕ <br>
        ВИКОРИСТАННЯ</span> РЕСУРСІВ<br>
        ЗАМОВНИКА
      </div>
      <div class="goal__info__text">Першочергова задача ТEFF - максимально ефективне використання наявних ресурсів та
        робота потужностей Замовника зі 100% продуктивністю. <br>
        <br>
        Перш ніж зробити проектну пропозицію, ми ретельно аналізуємо потреби, можливості та наявні ресурси Замовника.
      </div>
      <div class="goal__info__subtitle">
        ПЕРШОЧЕРГОВО - <span>АНАЛІЗ</span>
        ІНДИВІДУАЛЬНИХ ПОТРЕБ
      </div>
      <ul class="goal__info__list">
        <li class="goal__info__list__item">тип виробництва: галузь застосування теплової енергії</li>
        <li class="goal__info__list__item">теплоносій: пар/повітря/олива/вода</li>
        <li class="goal__info__list__item">період використання енергетичних ресурсів – годин на добу</li>
        <li class="goal__info__list__item">потужність МВт, ГКал …</li>
        <li class="goal__info__list__item">кількість теплоносія: пар/тон, ГКал/час, повітря м3/год</li>
        <li class="goal__info__list__item">кількість використання викопних вуглеводнів</li>
        <li class="goal__info__list__item">xарактеристики супутнього обладнання</li>
        <li class="goal__info__list__item">можливість використання відходів виробництва в якості біопалива</li>
        <li class="goal__info__list__item">архітектурний та будівельний план об’екту</li>
        <li class="goal__info__list__item">дотримання законодавчих та екологічних вимог</li>
      </ul>
    </div>
  </div>
</section>
