<div class="footer">
  <div class="footer__wrapper">
    <div class="footer__info">
      <img src="https://placehold.co/226x65">
      <div class="footer__info__name">
        <p>ТОВ “ТЕФФ”</p>
        <p>ТОВ “ТЕФФ-ГРУПП”</p>
      </div>

      <div class="footer__info__address">
        <p>65102, Україна, м. Одеса
          вул. Миколаївська дорога, 128</p>
      </div>
    </div>
    <div class="footer__contact">
      <div class="footer__contact__number">
        <div class="footer__contact__number__icon">
          <i style="padding-right: 30px" class="bi bi-telephone"></i>
        </div>
        <div class="footer__contact__number__phone">
          <p>+38(067) 538-83-83</p>
          <p>+38(067) 538-83-83</p>
          <p>+38(067) 538-83-83</p>
          <p>+38(067) 538-83-83</p>
        </div>
      </div>
      <div class="footer__contact__email">
        <i class="bi bi-envelope"></i>
        <p>teff&#64;teff.com.ua</p>
      </div>
    </div>
    <div class="footer__social-media">
        <i class="bi bi-instagram header__info__contact__down__social-media instagram"></i>
        <i class="bi bi-telegram header__info__contact__down__social-media telegram"></i>
        <i class="bi bi-facebook header__info__contact__down__social-media facebook"></i>
        <i class="bi bi-twitter header__info__contact__down__social-media twitter"></i>
        <i class="bi bi-youtube header__info__contact__down__social-media youtube"></i>
        <i class="bi bi-whatsapp header__info__contact__down__social-media whatsapp"></i>
        <i class="bi bi-linkedin header__info__contact__down__social-media linkedin"></i>
    </div>
  </div>
</div>
