<section id="developmentsId" class="developments">
  <div class="developments__wrapper">
    <div class="developments__info">
      <div class="developments__info__title"><span>ВЛАСНІ</span> РОЗРОБКИ ТА <br> ІННОВАЦІЇ</div>
      <div class="developments__info__text">
        Наукові розробки TEFF базуються на фізико-хімічних основах<br>
        спалювання твердих вуглеводів з використанням власних<br>
        інновацій та багаторічного досвіду експлуатації пальників.<br>
        <br>
        Постійно вдосконалюємо власні розробки та запроваджуємо<br>
        інноваційні технічні рішення, спираючись на:
      </div>
      <div class="developments__info__advantages">
        <ul class="developments__info__advantages__list">
          <li class="developments__info__advantages__list__item">10 річний досвід</li>
          <li class="developments__info__advantages__list__item">Індивідуальні потреби замовника</li>
          <li class="developments__info__advantages__list__item">Екологічність отримання тепла</li>
          <li class="developments__info__advantages__list__item">Збереження ресурсів Планети</li>
        </ul>
        <img ngSrc="assets/photo/ten_years.png" alt=""
             class="developments__info__icon"
             height="295" width="512">
      </div>
    </div>
    <img ngSrc="assets/photo/home-block-innovations.png" alt=""
         class="developments__photo"
         height="2128" width="2728">
  </div>
</section>
